.wrapper{
    background: #373737 !important;
}
.control-container, .savedItems{
    background: #282828 !important;
}
input:checked + .slider{
    background: #282828 !important;
}
.arrow-center-text{
    color: #282828 !important;
}
.loader-main{
    background: #282828 !important;
}
.infoClose, .text_box_close{
    background: #282828 !important;
}
.input-idnumber{
    background: #525252 !important;
    color: white !important;
}
.fa, .fab, .fal, .far, .fas{
    color: white !important;
}
.menu-option-text{
    color: white !important;
}
.text_box{
    background: #525252 !important;
}
.text_box h2, .text_box h1, .text_box h3, .text_box h4, .text_box p{
    -webkit-text-fill-color: white !important;
}
.text_box ul{
    color: white !important;
}
.text_box a:link, .text_box a:visited, .text_box a:hover, .text_box a:active{
    color: white !important;
}