@media only screen and (max-width: 820px) {
	body{
		position: fixed;
		transition: height .2s ease-in-out;
	}

	.wrapper{
		position: relative;
	}

	.navbar{
		white-space: nowrap;
		z-index: 2500;
		justify-content: space-between;
		border: 0;
	}

	/* .menuBgBlur{
		filter: none;
		top: 100vh !important;
	} */

	.arrow-center{
		display: none !important;
	}
	.arrow-left {
		right: calc(80px + 1rem);
	}

	.input-idnumber {
		width: calc(calc(100vw - 5.5rem) - 70px);
	}

	.controls{
		position: fixed;
		top: 50px;
		left: 0;
		width: 100vw;
		border-radius: 0;
		border: 0;
		background: transparent;
		z-index: 1;
		box-shadow: none;
	}

	.controls-container{
		border: 0;
		padding: 4rem 0 4rem 0;
		height: calc(100vh - 50px);
	}

	.control-container{
		width: auto;
		min-width: 85%;
		margin: 0;
		background: white;
		color: rgba(48,126,182,1);
	}

	.control-container span{
		color: rgba(65,80,176,1);
	}

	.savedIDs{
		top: calc(50px + 5vh) !important;
		left: 5vw !important;
		height: calc(90vh - 50px);
		width: 90vw;
		border-radius: 10vw;
	    background: -moz-linear-gradient(68deg, rgba(25,21,93,1) 0%, rgba(67,67,178,1) 37%, rgba(23,160,188,1) 96%); /* FF 3.6+ */  
	    background: -ms-linear-gradient(68deg, rgba(25,21,93,1) 0%, rgba(67,67,178,1) 37%, rgba(23,160,188,1) 96%); /* IE10 */   
	    background: -webkit-linear-gradient(68deg, rgba(25,21,93,1) 0%, rgba(67,67,178,1) 37%, rgba(23,160,188,1) 96%); /* Safari 5.1+, Chrome 10+ */  
	    background: -o-linear-gradient(68deg, rgba(25,21,93,1) 0%, rgba(67,67,178,1) 37%, rgba(23,160,188,1) 96%); /* Opera 11.10 */
	    background: linear-gradient(68deg, rgba(25,21,93,1) 0%, rgba(67,67,178,1) 37%, rgba(23,160,188,1) 96%); /* the standard */ 
	    padding: 1rem;
	    box-sizing: border-box;
	}

	.saved-container{
		background: white;
		padding: 1rem;
		border-radius: 10vw;
		overflow-y: auto;
	}

	#saveItem{
		margin-bottom: 2rem;
	}

	.saveBox{
		display: flex;
	}

	.mobileSaved, .savedItems{
	    background: -moz-linear-gradient(68deg, rgba(25,21,93,1) 0%, rgba(67,67,178,1) 37%, rgba(23,160,188,1) 96%); /* FF 3.6+ */  
	    background: -ms-linear-gradient(68deg, rgba(25,21,93,1) 0%, rgba(67,67,178,1) 37%, rgba(23,160,188,1) 96%); /* IE10 */   
	    background: -webkit-linear-gradient(68deg, rgba(25,21,93,1) 0%, rgba(67,67,178,1) 37%, rgba(23,160,188,1) 96%); /* Safari 5.1+, Chrome 10+ */  
	    background: -o-linear-gradient(68deg, rgba(25,21,93,1) 0%, rgba(67,67,178,1) 37%, rgba(23,160,188,1) 96%); /* Opera 11.10 */
	    background: linear-gradient(68deg, rgba(25,21,93,1) 0%, rgba(67,67,178,1) 37%, rgba(23,160,188,1) 96%); /* the standard */ 
	    color: white;
	    max-width:  100%;
	    min-width: 100%;
	    text-align: center;
	}

	.foodLink{
		text-decoration: none;
	}

	.input-week{
		background: rgba(45,151,188,1);
	}

	.mobileOnly{
		display: inherit;
	}

	.info{
		height: 90vh;
		width: 90vw;
		top: 5vh;
		left: 5vw;
	}

	.infoClose{
		bottom: 10vh;
		font-size: 1.5rem;
	}
}