{% extends "layout.html" %}
{% block title %}Error!{% endblock %}

{% block head %}
    {{ super() }}
    <meta property="og:title" content="GetTime Error">
    <meta property="og:description" content="GetTime Error handling page">
{% endblock %}

{% block content %}
    <div class="centerMain">
        <h1 class="myStyleHTitle">Error!</h1>
        {% if errorMessage != None %}
            <p class="myStyleP" style="text-align: center;">{{errorMessage}}</p>
        {% endif %} 
        <a class="myStyleP" href="http://gettime.ga/" style="text-align: center;">Click here to go back to the startpage.</a>
    </div>
{% endblock %}