{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<div class="centerMain">
		
		<div style="text-align: center; height:fit-content;">
			{% if request.MOBILE%}
				<img width = "80" height = "80" src="static/icon.png" style="margin-top: 40px;"  alt="GetTime Icon Mobile">
			{% else %}
				<img width = "150" height = "150" src="static/icon.png"  alt="GetTime Icon Desktop">
			{% endif %} 
		</div>

		<h1 class="myStyleHTitle">Welcome to GetTime</h1> 
		<p class="myStyleP" style="text-align: center;">Please enter your ID to get your schedule.</p>    

		<form method="POST" style="text-align: center;"><!--class="startpage"-->
			<div style="width: 250px; margin: auto;">
				<input name="id_input"> <!--ID input box-->
				<input type="submit">  <!--Submitbutton-->
				<!--
					<span title="Tick this box to ensure that you will get the latest version of the schedule">
						<p class="checkbox"><input type="checkbox" name="forceInput">Always force refresh</p>
					</span>          
				-->
				{% if request.MOBILE %}
					<p class="mySyleP checkbox"><input type="checkbox" name="getFullScheduleData">Get the full week</p>
				{% else %}
					<span title="Tick this box to get just todays schedule">
						<p class="myStyleP checkbox"><input type="checkbox" name="getJustToday">Only get todays schedule</p>
					</span>
				{% endif %} 
			</div>
		</form>
	</div>
{% endblock %}