<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}"> <!--Imports CSS-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name=”apple-mobile-web-app-capable” content=”yes”>
		<meta property="og:title" content="GetTime">
		<meta property="og:description" content="R.I.P Sodschema">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - GetTime</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="headblock">
            <a class="myStyleP" id="returnButtonLeft" href="http://gettime.ga/">Startpage</a>
            <!--
            {% if request.referrer != None %}
                <a class="myStyleP" id="headButtonMiddle" href="{{request.referrer}}">Go back</a>
            {% endif %}
            -->
            <a class="myStyleP" id="returnButtonRight" href="http://gettime.ga/food">GetFood</a>
        </div>
        <div id="bodyblock">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>