<!DOCTYPE html>
<html>
    <head>
        <script>
            var requestURL = "{{requestURL}}";
            var passedID = "{{passedID}}";
            var privateID = "{{privateID}}" == "True" ? true : false;
            var a_or_id = privateID ? "?a=" : "?id=";
        </script>

        <title>GetTime QR code generator</title>

        <script src= "https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="/static/js/cookies.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/qr.css">
    </head>
    <body>
        <h1 class="center noPrint">Loading QR code...</h1>

        <img id="qr-code" src="https://raw.githubusercontent.com/Codelessly/FlutterLoadingGIFs/master/packages/cupertino_activity_indicator.gif" onclick="window.print()"/>
        
        <p id="maintext" style="font-size: 6rem;"></p>
        <p id="subtext" style="font-size: 2rem;"></p>
        
        <script type="text/javascript" src="/static/js/qr.js"></script>
    </body>
</html>