<!DOCTYPE html>
<html>
    <head>
        <script>
            var requestURL = "{{requestURL}}";
            var passedID = "{{passedID}}";
            var a_or_id = "{{privateID}}" == "True" ? "?a=" : "?id="
        </script>

        <script src= "https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="/static/js/cookies.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/qr.css">
    </head>
    <body>
        <img id="qr-code" src="" onclick="window.print()"/>

        {% if not privateID %}
            <p id="maintext" style="font-size: 6rem;"></p>
        {% endif %}

        <p id="subtext" style="font-size: 2rem;"></p>
        
        <script type="text/javascript" src="/static/js/qr.js"></script>
    </body>
</html>