<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- GetTime -->
		<script>
			/* This is where some constants and settings are stored */
			const PWA = new URLSearchParams(window.location.search).get("PWA") == 1,
				version = "{{version}}",
				requestURL = "{{requestURL}}",
				privateURL = {{"true" if privateURL else "false"}},
				saveIdToCookie = {{"true" if saveIdToCookie else "false"}},
				mobileRequest = {{"true" if mobileRequest else "false"}},
				initID = "{{initID}}",
				initSchool = "{{initSchool if initSchool != None else ''}}",
				initDayMode = {{"true" if initDayMode else "false"}},
				initWeek = {{initWeek}},
				initYear = {{initYear}},
				initDay = {{initDay}},
				initDarkMode = {{initDarkMode}},
				showContactOnLoad = {{"true" if showContactOnLoad else "false"}},
				autoReloadSchedule = {{"true" if autoReloadSchedule else "false"}},
				ignorecookiepolicy = {{"true" if ignorecookiepolicy else "false"}},
				darkModeSetting = {{darkModeSetting}},
				initHideNavbar = {{"true" if hideNavbar else "false"}};
		</script>

		<!-- Set title -->
		<title>GetTime</title>

		<!-- JS Libraries -->
		<script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="/static/js/global.js"></script>
		<script type="text/javascript" src="/static/js/triggers.js"></script>
		<script type="text/javascript" src="/static/js/cookies.js"></script>
		<script type="text/javascript" src="/static/js/script.js"></script>
		<script type="text/javascript" src="/static/js/updateTimetable.js"></script>
		<script type="text/javascript" src="/static/js/saveurl.js"></script>
		<script type="text/javascript" src="/static/js/handleURI.js"></script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8646060836986460" crossorigin="anonymous"></script>

		<!-- Basic meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
		<meta name="Title" content="GetTime">
		<meta name="Keywords" content="GetTime, Södertörn, NTI, NTI-Gymnasiet, NTI-Gymnasiet Södertörn, Skola24">
		<meta name="Description" content="Schemaläsare för elever och personal på skolor som har Skola24">
		<meta name="Subject" content="Schema">
		<meta name="Language" content="Swedish">

		<!-- Manifest -->
		<link rel="manifest" href="/static/manifest.webmanifest">

		<meta property="og:title" content="GetTime">
		<meta property="og:description" content="GetTime - Simply better then Skola24 😎">
		<meta property="og:url" content="{{requestURL}}">
		<meta property="og:img" content="/static/img/favicon.png">

		<!-- To prevent caching -->
		<meta http-equiv='cache-control' content='no-cache'>
		<meta http-equiv='expires' content='0'>
		<meta http-equiv='pragma' content='no-cache'>

		<!-- Set Style colors -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" class="theme-color-setting" content="#4343b2">

		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" class="theme-color-setting" content="#4343b2">
		<meta name="msapplication-TileColor" class="theme-color-setting" content="#4343b2">

		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" class="theme-color-setting" content="#4343b2">

		<!-- Import favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
		<link rel="shortcut icon" class="favicon" href="/static/img/favicon.png" type="image/x-icon">
		<!-- <link rel="mask-icon" href="/static/safari-pinned-tab.svg" class="theme-color-setting" color="#4343b2"> -->

		<!-- Import CSS Libraries -->
		<link id="css-theme" darkmode="0" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/style.css">

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300|Rubik">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	</head>
	<body>
		<!-- Wrapper div for overflow hiding on mobile devices -->
		<div class="wrapper">

			<!-- Background loader to show user when timetable is gone -->
			<div class="lds-roller" id="background-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

			<!-- Top navbar -->
			<nav class="navbar">
				<div class="id-input-container">
					{% if privateURL %}
						<!--
							Temporary input box, only shows up when a private ID is active, and if changed then it will overwrite the ID

							This is mostly a temporary solution, because all of the code
							depends on ".input-idnumber" instead of a global variable, so
							all that this does is take the values you put in this one, and
							puts it in the hidden original input.
						-->
						<input id="id-input-box2" onclick="void(0)" class="input-idnumber control" type="text" placeholder="Privat ID"/>
					{% endif %}

					<!-- Main input, personal id, class etc -->
					<input id="id-input-box" onclick="void(0)" class="input-idnumber control" type="text" name="idnumber" placeholder="PERSONNR/KLASS"/>
				</div>

				<div class="dropdown-container">
					<select class="select-box school-select-box" title="School select box" id="school-select-box">
						<option value="" selected disabled hidden>Byt skola</option>
						{% for x in allSchoolsNames %}
							<option value="{{allSchools[x]['unitId']}}">{{x}}</option>
						{% endfor %}
					</select>

					<select class="select-box classes-select-box" title="Teacher select box" id="classes-select-box">
						<option value="" selected disabled hidden>Byt klass</option>
					</select>

					<select class="select-box teachers-select-box" title="Teacher select box" id="teachers-select-box">
						<option value="" selected disabled hidden>Byt lärare</option>
					</select>
				</div>
				<div class="arrows-container">
					<!-- Arrows for fast date navigation -->
					<i class="fas arrow arrow-left fa-angle-left" title="Last week"></i>
					<i class="fas arrow arrow-center fa-circle" title="Current week">
						<span class="arrow arrow-center arrow-center-text" title="Current week">12</span>
					</i>

					<i class="fas arrow arrow-right fa-angle-right" title="Next week"></i>
					<!-- Menu button -->
					<div onclick="void(0)" class="menuIcon menuButton fas fa-bars"></div>
				</div>
			</nav>
			<!-- Menu dropdown container parent -->
			<div class="controls">
				<!-- Menu dropdown container child -->
				<div class="controls-container">
					{% for x in dropDownButtons %}
						{{x}}
					{% endfor %}

					<!-- Shitty temp code -->
					<a id="nti-gymnasiet-special-button" onclick="textBoxOpen('#text_classlist_temp');" class="control control-container">
						<span id="button-text-gotostart" class="menu-option-text" shorttext="Klasslista&nbsp;&nbsp;" longtext="Klasslista&nbsp;&nbsp;">Klasslista&nbsp;&nbsp;</span>
						<i class="fas fa-clipboard-list control-right"></i>
					</a>
				</div>
			</div>

			<!-- Main timetable object -->
			<div id="scheduleBox">
				<div id="scheduleBLUR">
					<svg id="schedule"></svg>
				</div>
			</div>

			<!-- GDPR and cookies info div -->
			<div id="text_cookies_info" class="text_box cookies_info">
				<h1>GetTime Cookie Policy</h1>
				<h2>TLDR;<br>If you use GetTime, we store cookies on your device for you to be able to save timetables.</h2>

				<p>Last updated: November 14, 2018</p>

				<p>GetTime ("us", "we", or "our") uses cookies on the https://gettime.ga/ website (the "Service"). By using the Service, you consent to the use of cookies.</p>

				<p>Our Cookies Policy explains what cookies are, how we use cookies, how third-parties we may partner with may use cookies on the Service, your choices regarding cookies and further information about cookies.</p>

				<h2>What are cookies</h2>

				<p>Cookies are small pieces of text sent by your web browser by a website you visit. A cookie file is stored in your web browser and allows the Service or a third-party to recognize you and make your next visit easier and the Service more useful to you.</p>

				<p>Cookies can be "persistent" or "session" cookies. Persistent cookies remain on your personal computer or mobile device when you go offline, while session cookies are deleted as soon as you close your web browser.</p>

				<h2>How GetTime uses cookies</h2>

				<p>When you use and access the Service, we may place a number of cookies files in your web browser.</p>

				<p>We use cookies for the following purposes:</p>

				<ul>
					<li>
						<p>To enable certain functions of the Service</p>
					</li>
					<li>
						<p>We use both session and persistent cookies on the Service and we use different types of cookies to run the Service:</p>
					</li>
					<li>
						<p>Essential cookies. We use cookies to remember your information to make your experience seamless.</p>
					</li>
				</ul>

				<h2>What are your choices regarding cookies</h2>

				<p>If you'd like to delete cookies or instruct your web browser to delete or refuse cookies, please visit the help pages of your web browser. As an European citizen, under GDPR, you have certain individual rights. You can learn more about these rights in the <a href="https://termsfeed.com/blog/gdpr/#Individual_Rights_Under_the_GDPR">GDPR Guide</a>.</p>

				<p>Please note, however, that if you delete cookies or refuse to accept them, you might not be able to use all of the features we offer, you may not be able to store your preferences, and some of our pages might not display properly.</p>

				<ul>
					<li>
						<p>For the Chrome web browser, please visit this page from Google: <a href="https://support.google.com/accounts/answer/32050">https://support.google.com/accounts/answer/32050</a></p>
					</li>
					<li>
						<p>For the Internet Explorer web browser, please visit this page from Microsoft: <a href="http://support.microsoft.com/kb/278835">http://support.microsoft.com/kb/278835</a></p>
					</li>
					<li>
						<p>For the Firefox web browser, please visit this page from Mozilla: <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a></p>
					</li>
					<li>
						<p>For the Safari web browser, please visit this page from Apple: <a href="https://support.apple.com/kb/PH21411?locale=en_US">https://support.apple.com/kb/PH21411?locale=en_US</a></p>
					</li>
					<li>
						<p>For any other web browser, please visit your web browser's official web pages.</p>
					</li>
				</ul>

				<h2>Where can you find more information about cookies</h2>

				<p>You can learn more about cookies and the following third-party websites:</p>

				<ul>
					<li>
						<p>AllAboutCookies: <a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org/</a></p>
					</li>
					<li>
						<p>Network Advertising Initiative: <a href="http://www.networkadvertising.org/">http://www.networkadvertising.org/</a></p>
					</li>
				</ul>

				<!-- Accept policy button -->
				<span onclick="createCookie('infoClosed', 'closed', 360);updateTimetable();textBoxClose('#text_cookies_info')" class="text_box_close">Close and accept</span>
				<br>

			</div>

			<!-- Classlist -->
			<div id="text_classlist_temp" class="text_box classlist_temp">

				<h1>Klasser i NTI-Gymnasiet</h1>

				<script>
					var classes_list = [
						"19_DE",
						"19_EL",
						"19_MU",
						// "19_TEK_A",
						// "19_TEK_B",
						"19_TEK_E",
						"19_TEK_S",
						"20_DE",
						"20_EL_A",
						"20_EL_B",
						"20_TEK_A",
						"20_TEK_B",
						"21_DE",
						"21_EL",
						"21_TE4",
						"21_TEK"
					].sort();

					classes_list.forEach(i => {
						let this_obj = document.createElement("a");

						this_obj.innerHTML = i;

						this_obj.style.display = "block"
						this_obj.style.textAlign = "center"
						this_obj.style.marginBottom = "1em"
						this_obj.style.backgroundColor = "var(--theme-color-1)"
						this_obj.style.padding = "1em"
						this_obj.style.borderRadius = "2em"
						this_obj.style.color = "white"

						this_obj.onclick = function(){
							$("#id-input-box").val(this_obj.innerHTML);
							textBoxClose('#text_classlist_temp');
							updateTimetable()
						};

						document.getElementById("text_classlist_temp").appendChild(this_obj)
					});
				</script>

				<!-- Go back button -->
				<span onclick="textBoxClose('#text_classlist_temp')" class="text_box_close">Stäng</span>
				<br>

			</div>

			<!-- Contact information -->
			<div id="text_contact_info" class="text_box contact_info">

				<h1>GetTime (v{{version}})</h1>

				{% if version.endswith("BETA") %}
				<div style="border: red solid 3px; padding: 2em;">

					<p>
						Detta betyder att vissa funktioner kanske inte funkar som dom ska, eller att det finns funktioner
						som kanske försvinner senare. Dock så kan det även finnas coola funktioner som inte finns på vanliga branchen än.

						<br><br>

						Om du vill använda den vanliga hemsidan, så hittar du den här: <a class="text_box-link" href="https://gettime.ga/">https://gettime.ga/</a>
					</p>
				</div>

				{% endif %}

				<p>
					GetTime är en schemaläsare som funkar på alla skolor som använder Skola24.
					GetTime är helt gratis att använda, och är skapat av elever, för elever.

					<br>

					Ditt ID sparas i en <a href="https://sv.wikipedia.org/wiki/Webbkaka" target="_blank">cookie</a>, så att du aldrig behöver skriva
					in den igen. Alla IDs som funkar på Skola24 funkar på GetTime.

					<!-- <br><br> -->

					<!-- GetTime har även ett eget API, så att man kan skapa sina egna schemaläsarprojekt! -->
					<!-- Med vårat API kan du hämta all information som du kan se på vår sida, och använda den i ditt program! -->

					<!-- <br> -->

					<!-- Läs mer om vårat API <a href="https://github.com/KoalaV2/gettime/blob/main/README.md" target="_blank">här</a>! -->
				</p>

				<br>

				<h2>Hittat en bug?</h2>
				<p>Skicka gärna buggar och fel som du hittat till <a href="mailto:theo.johanson@gmail.com" class="text_box-link">theo.johanson@gmail.com</a>
                eller skapa en isssue på våran GitHub repo: <a href="https://github.com/KoalaV2/gettime/issues">https://github.com/KoalaV2/gettime/issues</a>
                </p>

				<br>

                <h2>Vill du vara med att utveckla GetTime?</h2>
                <p>Om du vill vara med att utveckla GetTime så kan du antingen kontakta oss med förslag eller andra saker du skulle vilja se på GetTime. <br>
                Eller om du har kunskap inom programmering kan du ta en titt på våran GitHub repository ( <a href="https://github.com/KoalaV2/gettime">https://github.com/KoalaV2/gettime</a> ). <br> <br>
                Kontakta oss gärna om du har mer frågor om utvecklingen inom GetTime och hur du kan vara med!
                </p>

                <br>

				<h2>Här kan du kontakta skaparna av GetTime:</h2>
				{% for x in contacts %}
					<h3>{{x['name']}}</h3>
					{% if x['info'] != "" and x['info'] != None %}
						<p>{{x['info']}}</p>
					{% endif %}
					<ul>
						<li>
							<p><a href="mailto:{{x['email']}}" class="text_box-link">{{x['email']}}</a></p>
						</li>
						{% for currentLink in x['links'] %}
							<li>
								<p><a href="{{currentLink[1]}}" target="_blank" class="text_box-link">{{currentLink[0]}}</a></p>
							</li>
						{% endfor %}
					</ul>
				{% endfor %}

				<br>

				<h2>Donera till GetTime</h2>
				<p>
					Du kan donera till GetTimes skapare via:
					<br><br>

					<a href="https://paypal.me/pools/c/8zZdvTNIlu" target="_blank" class="text_box-link">PayPal</a>
					<br>
					BTC : 33qHgzrBfCh2Tyq2YgkTsB5PwqK8n69J2E
					<br>
					ETH : 0x2E838573c2e26e0Bd4B2626F45D9D5bd01189F7d
				</p>

				<!-- Go back button -->
				<span onclick="textBoxClose('#text_contact_info')" class="text_box_close">Stäng</span>
				<br>

			</div>

			<!-- School selector -->
			<div id="text_school_selector" class="text_box school_selector">

				<h1>Välj din skola här:</h1>
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">

				{% if oldPrivateUrl %}
					<p>
						OOPS! Det här är en gammal privat URL. Detta innebär att du kommer behöva välja skola varje gång du laddar denna länk.
						För att slippa göra det, skapa en ny privat URL och använd den istället.
					</p>
				{% endif %}

				<ul id="schoolthing">
				{% for x in allSchoolsNames %}
					<li>
                        <p style="text-decoration: underline !important; cursor: pointer;" onclick="schoolSelected('{{allSchools[x]['unitId']}}')">{{x}}</p>
					</li>
				{% endfor %}
				</ul>

			</div>

			<!-- Hidden menu -->
			<div id="text_tricks" class="text_box tricks">
				<h1 style="color: #fff!important;">🧙⚔️</h1>

				<h2>Hey look, you found me!</h2>
				<p>
					I guess you could call me the "cheat menu" of GetTime!
					Here you can find some cheat secret modes and URL parameters that you can use!
				</p>

				<br>

				<h3>Filters:</h3>
				<p>You can click on these to turn the effect on/off</p>
				<ul>
					<li>
						<p><a onclick="window.location.href = addURLArgument('filter','grayscale');">&filter=grayscale</a></p>
					</li>
					<li>
						<p><a onclick="window.location.href = addURLArgument('filter','invert');">&filter=invert</a></p>
					</li>
					<li>
						<p><a onclick="window.location.href = addURLArgument('filter','flat');">&filter=flat</a></p>
					</li>
				</ul>

				<!-- Go back button -->
				<span onclick="$('#id-input-box').val('');textBoxClose('#text_tricks')" class="text_box_close">Stäng</span>
				<br>

			</div>

			<!-- Full CSS Loader page, slides up as page is loaded. "hides the ugly" -->
			<div class="loader-main">
				<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
				<h1 class="label">GetTime</h1>
			</div>
		</div>

		{{parseCode}}

		<!-- All the code below is for debuging and error messages. DO NOT TOUCH -->
		<div id="debug-div">
			{% if debugmode %}
				<script>
					/* Code from https://tinyurl.com/4ectw2cz */
					const origConsoleLog = console.log;
					const logArr = [];
					console.log = (...args) => {
						origConsoleLog.apply(console, args);
						logArr.push(args);
					};
					const logAll = () => {
						origConsoleLog.call(console, logArr.join('\n'));
					};

					/* Code from https://tinyurl.com/ybvdtuv7 */
					window.onerror = function(msg, url, line, col, error) {
						/* Note that col & error are new to the HTML 5 spec and may not be supported in every browser.  It worked for me in Chrome. */
						var extra = !col ? '' : '\ncolumn: ' + col;
						extra += !error ? '' : '\nerror: ' + error;
						/* You can view the information in an alert to see things working like this: */
						alert("Error: " + msg + "\nurl: " + url + "\nline: " + line + extra);
						/* TODO: Report this error via ajax so you can keep track of what pages have JS issues */
						var suppressErrorAlert = true;
						/* If you return true, then error alerts (like in older versions of Internet Explorer) will be suppressed. */
						return suppressErrorAlert;
					};

					console.log("THIS IS A DEBUG LOG<br><br>!!YOU CAN HIDE THIS BOX BY CLICKING IT!!<br>")
					setInterval(function () {
						document.getElementById("debuglog").innerHTML = logArr.join('<br>');
					}, 1000);
				</script>
				<p id="debuglog" onclick="$(this).hide();"></p>
			{% endif %}

			{% if limpMode or DEBUGMODE %}
				<p id="errorMessage">
					{% if limpMode %}
						⚠ GETTIME IS IN LIMP MODE<br>
					{% endif %}
					{% if DEBUGMODE %}
						⚠ GETTIME IS IN DEBUG MODE<br>
					{% endif %}
				</p>
			{% endif %}
		</div>

	</body>
</html>
