.controls-container, .saved-container{
    background: #525252 !important;
}
#school-select-box{
    background: #525252 !important;
    color: white !important;
    text-shadow: 2px 2px 1px rgb(0 0 0 / 25%);
}
